extends layout

block content
	h1 The Translater!
		form
			input(type='text' name='translate-from' placeholder='Translate from: Language')
			input(type='text' name='translate-to' placeholder='Translate to: Language')
			input(type='text' name='word' placeholder='Word to translate')
			input(type='submit')
	